/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
    fill: url(#p-fire);
    stroke: #330000;
    stroke-width: 8;
    stroke-opacity: .5;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    background-color: #000;
}


/* Header & Footer Styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #2e2e2e;
    color: #e78f08;
}

.header {
    background-color: rgba(46, 46, 46, 0.9);
}

/* NavBar Styles */
.navbar-inverse
.navbar-nav > li > a:hover {
    color: #e78f08;
}

.navbar-inverse
.navbar-nav > li > a:focus {
    color: #fff;
}

.btn {
    background-color: #e78f08;
    border-color: #e78f08;
}

/* Individual Page Styles */
.home {
    background-color: #000;
    color: f4f4f4;

}
a {
    color: #333;
}

a:hover {
    color: #e78f08;
}

a:focus {
    color: #e78f08;
}

.about {
    background-color: #000;
    color: f4f4f4;

}
.contact {
    background-color: #000;
    color: f4f4f4;

}


/* Flame Text Styles */
svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flame {
    background: #000;
    background-size: .2em 100%;
    font: 12.5em/1 Open Sans, Impact;
    /*text-transform: uppercase; */
    height: 100%;
}

.fire {
    background: #000;
    background-size: .2em 100%;
    font: 8.5em/1 Open Sans, Impact;
    text-transform: uppercase;
    height: 100%;
}

/* form styling */
#form-container                { background:#2f2f2f; margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#151515; margin:0; padding:30px;
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#e78f08; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */

.view-animation.ng-enter,
.view-animation.ng-leave {
    position:absolute;
    left:30px;
    right:30px;
    -moz-transition: all 1s all ease;
    -o-transition: all 1s all ease;
    -webkit-transition: all 1s all ease;
    -ms-transition: all 1s all ease;
    transition: all 1s all ease;
}

/* enter animation */
.view-animation.ng-enter {
    -webkit-animation:slideInRight 1s both ease;
    -moz-animation:slideInRight 1s both ease;
    -o-animation:slideInRight 1s both ease;
    -ms-animation:slideInRight 1s both ease;
    animation:slideInRight 1s both ease;
}

/* leave animation */
.view-animation.ng-leave {
    -webkit-animation:slideOutLeft 1s both ease;
    -moz-animation:slideOutLeft 1s both ease;
    -o-animation:slideOutLeft 1s both ease;
    -ms-animation:slideOutLeft 1s both ease;
    animation:slideOutLeft 1s both ease;
}

/* ANIMATIONS
============================================================================= */

/* slide out to the left */
@keyframes slideOutLeft {
    to { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to { -webkit-transform: translateX(-200%); }
}
@-o-keyframes slideOutLeft {
    to { -o-transition: translateX(-200%); }
}
@-ms-keyframes slideOutLeft {
    to { -ms-transition: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from { transform:translateX(200%); }
    to { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from { -moz-transform:translateX(200%); }
    to { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from { -webkit-transform:translateX(200%); }
    to { -webkit-transform: translateX(0); }
}
@-o-keyframes slideInRight {
    from { -o-transition:translateX(200%); }
    to { -o-transition: translateX(0); }
}
@-ms-keyframes slideInRight {
    from { -ms-transition:translateX(200%); }
    to { -ms-transition: translateX(0); }
}